# Exercise 1: (Score : 1)
Create a numpy array containing the numbers from 1 to 10, and then reshape it to a 2x5 matrix.

In [1]:
import numpy as np
array_1_to_10 = np.arange(1, 11)
matrix_2x5 = array_1_to_10.reshape(2, 5)
matrix_2x5

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

# Exercise 2: (Score : 1)
Create a numpy array containing the numbers from 1 to 20, and then extract the elements between the 5th and 15th index

In [2]:
array_1_to_20 = np.arange(1, 21)
extracted_elements = array_1_to_20[5:16]
extracted_elements

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [ ]:
# Exercise 3: (Score : 2)
Create a Pandas series with the following data: {'apples': 3, 'bananas': 2, 'oranges': 1}. Then, add a new item to the series with the key 'pears' and the value 4.

In [3]:
import pandas as pd
fruit_series = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})
fruit_series['pears'] = 4
fruit_series

apples     3
bananas    2
oranges    1
pears      4
dtype: int64

# Exercise 4: (Score : 2)
Create a dataframe with the following columns: name, age, and gender. The dataframe should have 10 rows of data.

In [4]:
import pandas as pd

data = {
    "name": ["Thomas", "Jack", "Nimmy", "Bony", "Suresh", "Firosh", "George", "Husain", "Ishal", "Jona"],
    "age": [25, 30, 35, 28, 40, 22, 33, 27, 45, 29],
    "gender": ["Male", "Male", "Female", "Male", "Male", "Male", "Male", "Male", "Female", "Female"]
}

df = pd.DataFrame(data)
print(df)

     name  age  gender
0  Thomas   25    Male
1    Jack   30    Male
2   Nimmy   35  Female
3    Bony   28    Male
4  Suresh   40    Male
5  Firosh   22    Male
6  George   33    Male
7  Husain   27    Male
8   Ishal   45  Female
9    Jona   29  Female

# Exercise 5: (Score : 1)
Add a new column to the data frame created in question 1, called occupation. The values for this column should be Programmer, Manager, and Analyst, corresponding to the rows in the dataframe.

In [5]:
import pandas as pd

data = {
    "name": ["Thomas", "Jack", "Nimmy", "Bony", "Suresh", "Firosh", "George", "Husain", "Ishal", "Jona"],
    "age": [25, 30, 35, 28, 40, 22, 33, 27, 45, 29],
    "gender": ["Male", "Male", "Female", "Male", "Male", "Male", "Male", "Male", "Female", "Female"]
}

df = pd.DataFrame(data)
occupations = ["Programmer", "Manager", "Analyst", "Programmer", "Manager", "Analyst", "Programmer", "Manager", "Analyst", "Programmer"]
df["occupation"] = occupations
print(df)

     name  age  gender  occupation
0  Thomas   25    Male  Programmer
1    Jack   30    Male     Manager
2   Nimmy   35  Female     Analyst
3    Bony   28    Male  Programmer
4  Suresh   40    Male     Manager
5  Firosh   22    Male     Analyst
6  George   33    Male  Programmer
7  Husain   27    Male     Manager
8   Ishal   45  Female     Analyst
9    Jona   29  Female  Programmer

# Exercise 6: (Score : 1)
Select the rows of the dataframe where the age is greater than or equal to 30.

In [6]:
# Select the rows of the dataframe where the age is greater than or equal to 30.

filtered_df = df[df["age"] >= 30]
print(filtered_df)

     name  age  gender  occupation
1    Jack   30    Male     Manager
2   Nimmy   35  Female     Analyst
4  Suresh   40    Male     Manager
6  George   33    Male  Programmer
8   Ishal   45  Female     Analyst

# Exercise 7: (Score : 2)
Convert this dataframe to a csv file and read that csv file, finally display the contents.

In [7]:
import pandas as pd

data = {
    "name": ["Thomas", "Jack", "Nimmy", "Bony", "Suresh", "Firosh", "George", "Husain", "Ishal", "Jona"],
    "age": [25, 30, 35, 28, 40, 22, 33, 27, 45, 29],
    "gender": ["Male", "Male", "Female", "Male", "Male", "Male", "Male", "Male", "Female", "Female"]
}

df = pd.DataFrame(data)
occupations = ["Programmer", "Manager", "Analyst", "Programmer", "Manager", "Analyst", "Programmer", "Manager", "Analyst", "Programmer"]
df["occupation"] = occupations

df = pd.DataFrame(data)

df.to_csv("sample_dataframe.csv", index=False)

read_df = pd.read_csv("sample_dataframe.csv")

print(read_df)

     name  age  gender
0  Thomas   25    Male
1    Jack   30    Male
2   Nimmy   35  Female
3    Bony   28    Male
4  Suresh   40    Male
5  Firosh   22    Male
6  George   33    Male
7  Husain   27    Male
8   Ishal   45  Female
9    Jona   29  Female